@use "sass:map";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./pytch-mixins.scss";
@import "./pytch-variables.scss";

body.pytch-toplevel {
  font-family: $pytch-body-font;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;

  a,
  a:hover {
    text-decoration: none;
  }
}

code {
  font-family: $monospace-fonts;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: $main-bg-color;
  overflow-y: auto;
}

.unknown-route {
  max-width: 36rem;
  font-size: 1.25rem;
  background-color: var(--bs-danger-bg-subtle);
  color: black;
  padding: 2rem;
  border-radius: 8px;
  margin: auto;
}

.loading-in-progress {
  z-index: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  .background {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 4px;
    background-color: black;
    opacity: 0.6;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .content {
    z-index: 2;
    color: white;
    opacity: 1;
    font-size: 2rem;
    text-align: center;
  }
}

$tutorial-display-side-margin: 3rem;

.TutorialList {
  overflow-y: auto;
  flex-shrink: 1;
  flex-grow: 1;

  h1 {
    margin: 1.5rem 0px;
    text-align: center;
  }
  ul {
    margin: 0px #{$tutorial-display-side-margin};
    padding: 0px;
    list-style: none;
    li {
      margin: auto;
      max-width: 52rem;
      p {
        font-size: 18px;
      }

      div:after {
        content: "";
        clear: both;
        display: table;
      }
    }
  }
  .image-container {
    float: right;
    margin: 0.5rem 2rem;
  }
  .dropdown-wrapper {
    float: right;
    margin: 1rem;
  }
  .loading-in-progress {
    p {
      font-size: 2rem;
    }
  }
  .loading-placeholder,
  .loading-error {
    margin: 0rem #{$tutorial-display-side-margin};
    border-radius: 4px;

    p {
      padding: 4rem;
      text-align: center;
    }
  }
  .loading-placeholder {
    background-color: $busy-overlay-bg-color;
    p {
      font-size: 1.5rem;
      color: white;
    }
  }
  .loading-error {
    background-color: var(--bs-danger-bg-subtle);
    p {
      font-size: 1.25rem;
      color: black;
    }
  }
  .button-wrapper {
    margin-top: 2.5rem;
    text-align: center;
  }
}

//
// TODO: Tidy up duplication of styling here vs in project-list.scss
//
.TutorialCard,
.ProjectCard {
  border: 1px solid $border-subdued-color;
  border-radius: calc(var(--bs-card-border-radius) + 0.25px);

  .card-header {
    position: relative;
    background-color: $pytch-colour-accent-lavender;
    border-radius: var(--bs-card-inner-border-radius)
      var(--bs-card-inner-border-radius) 0px 0px;

    .h5 {
      margin: 0.25rem 0px;
      text-align: center;
      font-size: 1.25rem;
    }
  }
  .card-body {
    position: relative;
    background-color: $secondary-bg-color;
    border-radius: 0px 0px var(--bs-card-inner-border-radius)
      var(--bs-card-inner-border-radius);
  }
}

.TutorialCard {
  background-color: $secondary-bg-color;
  position: relative;
  margin-bottom: 3rem;

  .tutorial-card-header {
    .difficulty-badge {
      grid-area: difficulty;
      text-align: left;
      align-self: center;
    }
    .card-title {
      grid-area: title;
      align-self: center;
    }
    .program-kind-badge {
      grid-area: prog-kind;
      text-align: right;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "difficulty prog-kind" "title title";

    h3 {
      text-align: center;
      margin: 0.75rem 0px 0.5rem;
    }

    @media (width >= 768px) {
      grid-template-columns: 2fr 7fr 2fr;
      grid-template-areas: "difficulty title prog-kind";
      h3 {
        margin: 0px;
      }
    }
  }

  .card-header {
    .EditorKindThumbnail {
      &,
      img {
        border-radius: 3px;
      }
      box-shadow: none;
      margin-right: 0px;
      margin-left: 0.75rem;
    }

    p.tag-difficulty {
      font-size: 15px;
      span {
        background-color: mintcream;
        padding: 0.25rem 0.5rem;
        border-radius: 5px;
      }
    }
  }

  .card-footer {
    background-color: $secondary-bg-color;
  }

  .button-bar {
    text-align: center;
    button {
      margin: 0.25rem 0.5rem;
      @media (width >= 768px) {
        margin: 0.25rem 1.5rem;
      }
    }
  }
}

.tutorial-list li {
  position: relative;
}

.tutorial-list.demo-only {
  width: 32rem;
  margin: auto;
  .button-bar {
    width: 100%;
    text-align: center;
  }
}

.dropdown-item.danger {
  background-color: var(--bs-danger-bg-subtle);

  &:hover {
    background-color: var(--bs-danger-border-subtle);
  }
}

button.awaiting-action {
  position: relative;
  .spacing-text {
    visibility: hidden;
  }
  .spinner-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.modal.GenericConfirmActionModal {
  h4 p {
    margin: 0px;
  }
}

.modal.CreateProjectModal {
  .whether-include-example,
  .editor-kind {
    .option-buttons {
      margin-top: 0rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .editor-thumbnail {
      margin-top: 1rem;
      text-align: center;
      img {
        max-width: 80%;
        box-shadow: 0px 0px 6px 4px $box-shadow-color;
      }
    }
  }
}

.GoogleAuthenticationStatusModal,
.GoogleTaskStatusModal {
  .modal-body.pending {
    text-align: center;
  }
  .spinner-border {
    margin: 1.5rem;
  }
}

.GoogleTaskStatusModal {
  .user-info {
    justify-content: space-between;
    p {
      margin: 0px;
    }
    code {
      color: $pytch-colour-main-blue;
    }
    font-size: 1rem;
  }

  .outcome-summary {
    padding: 0.5rem;
    border-radius: 6px;
    &.successes {
      background-color: var(--bs-success-bg-subtle);
      margin-bottom: 1.5rem;
    }
    &.failures {
      background-color: var(--bs-danger-bg-subtle);
    }
  }
}

.ErrorMessageDisplay {
  .technical-details .error-message {
    font-style: italic;
  }
}

.ExceptionDisplay {
  @include full-center-middle();

  .content {
    background-color: var(--bs-danger-bg-subtle);

    max-width: 36rem;
    font-size: 1.25rem;
    color: black;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 3rem;

    .button-container {
      margin-top: 2rem;
      text-align: center;
    }
  }
}

.TutorialList .ExceptionDisplay {
  height: auto;
  margin-top: 3rem;
}

.EditorKindThumbnail {
  margin-right: 1.25rem;
  box-shadow: 0px 0px 6px 4px $box-shadow-color;
}

.thumbnail-bg {
  background-color: darken(#ebf5f9, 10);
  overflow: hidden;
}